@model PapelArt.Models.Produto

@{
    ViewData["Title"] = "Cadastrar Produto";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PapelArt</title>

    <!-- Fontes -->
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/login-cadastro.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/cadastro-produto.css" />
</head>

<body class="Cadastro de Produto">

    <!-- Cabeçalho -->
    <header class="header">
        <div class="logo">
            <a asp-controller="Home" asp-action="Menu" title="Voltar ao Menu">
                <img src="~/images/logo.jpg" alt="Logo PapelArt - Voltar ao Menu" />
            </a>
        </div>
        <div class="titulo">
            <h1>PapelArt - Material Escolar</h1>
            <h1>SISTEMA DE CONTROLE DE ESTOQUE</h1>
        </div>
    </header>

    <div style="container-titulo">
        <h1 class="cadastro-titulo">CADASTRAR PRODUTO</h1>
    </div>

    <!-- CONTAINER PRINCIPAL -->
    <div class="container-centered">
        <div class="cadastro-produto-container">

            <!-- FORMULÁRIO -->
            <form method="post" class="form-produto form-area">

                <!-- CÓDIGO (automático) -->
                <div class="linha">
                    <label>CÓDIGO:</label>
                    <input type="text" value="Gerado automaticamente" disabled />
                </div>

                <!-- NOME -->
                <div class="linha">
                    <label>NOME*:</label>
                    <input type="text" asp-for="Nome" class="form-control" required />
                </div>

                <!-- DESCRIÇÃO -->
                <div class="linha">
                    <label>DESCRIÇÃO*:</label>
                    <input type="text" asp-for="Descricao" class="form-control" required/>
                </div>

                <!-- PREÇO -->
                <div class="linha">
                    <label>VALOR UNITÁRIO*:</label>
                    <input type="number" step="0.01" asp-for="Preco" class="form-control" required/>
                </div>

                <!-- CATEGORIA -->
                <div class="linha">
                    <label>CATEGORIA*:</label>

                    <select asp-for="CategoriaId" class="form-control">
                        <option value="">Selecione...</option>

                        @foreach (var categoria in ViewBag.Categorias as List<PapelArt.Models.Categoria>)
                        {
                            <option value="@categoria.Id">@categoria.Nome</option>

                            if (categoria.SubCategorias != null)
                            {
                                foreach (var sub in categoria.SubCategorias)
                                {
                                    <option value="@sub.Id">
                                        &nbsp;&nbsp;↳ @sub.Nome
                                    </option>
                                }
                            }
                        }
                    </select>

                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>

                <p class="campos-obrigatorios">
                    *Campos de preenchimento obrigatório
                </p>


                <!-- BOTÃO -->
                <button class="btn-cadastrar-produto" type="submit">CADASTRAR</button>

            </form>

            <!-- PAINEL DIREITO -->
            <div class="painel-rapido">
                <h2>PAINEL DE<br>NAVEGAÇÃO RÁPIDA</h2>

                <div class="painel-links">
                    <a class="painel-link" href="/Categorias/Create">CADASTRAR CATEGORIA</a>
                    <a class="painel-link" href="/Estoque/Consulta">CONSULTAR ESTOQUE</a>
                    <a class="painel-link" href="/Movimentacoes/Create">REGISTRAR ENTRADA / SAÍDA</a>
                    <a class="painel-link" href="/Relatorios/Create">GERAR RELATÓRIO</a>
                </div>
            </div>

        </div>
    </div>

    <!-- RODAPÉ -->
    <footer class="menu-footer">
        <a href="javascript:history.back()" class="footer-btn">&#8678 VOLTAR</a>
        <a href="/Home/Index" class="footer-btn">SAIR &#8680</a>
    </footer>

</body>

</html>